header, footer {
    padding: 0.5em; 
    color: white;
    background-color: #33A2FF;
    clear: left;
	
}
header{
		text-align: center;
	}
body {
	/* background-color: antiquewhite; */
	font-family: cursive;    
    margin: 0px;
    width: 100%;
}
h1.header {
    padding: 0;
    margin: 0;
}

div#details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#bg-color {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    margin: 0;
}

div#bg-color > * {
    padding: 0;
    margin: 0;
}

div#bg-color > p {
    margin-right: 20px;
}

div#bg-color > button {
    margin-left: 20px;
    margin-right: 20px;
    padding: 4px 8px;
}


section {
	margin-left: auto;
	margin-right: auto;
    width: 80%;
    padding: 1em;
	text-align:center;
}
ul {
    float:center;
    width:100%; 
    padding:0;
	padding-top: 2em;
	padding-bottom: 2em;

    margin:0;
    list-style-type:none;
    background-color: gray;
}        
a.navlink {
    float:center;
	text-align: center;
    width:100%; 
    text-decoration:none;
    color:white;
    margin: 0px; 
	padding-top: 1.25em;
	padding-bottom: 1.225em;	
	padding-left: 55px;
	padding-right: 55px;
    background-color:gray;
	font-size: 26px;
	cursor: pointer;
}
a.selected{
    background-color: orange;
}
a:hover { background-color:steelblue; transition: 0.5s}
li { display:inline-block;
margin: 0px;
    background-color:gray;

cursor: pointer;
transition: 0.5s;
 }
